<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Minicoders</title>
  <link rel="icon" type="image/x-icon" href="../static/img/favicon.ico">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://unpkg.com/htmx.org@1.5.0"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://js.stripe.com/v3/"></script>

  <link rel="stylesheet" type="text/css" href="../static/base1.css">

  <script type = "text/javascript" src="../static/js/global_scripts.js"></script>

  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-10904711824"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'AW-10904711824'); 
  </script>
  <script> gtag('event', 'conversion', {'send_to': 'AW-10904711824/--M0CNumv8wDEJDl4s8o'}); </script>

  <!--Start of Tawk.to Script-->
  <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/63764049daff0e1306d7eed8/1gi2um8gs';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
  </script>
  <!--End of Tawk.to Script-->

</head>

<body>
  <script>
    function setCookie(value) {
      document.cookie = "language="+value;
      location.reload();
    }
  </script>



  
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  
    <div class="container-fluid">
      <a class="navbar-brand d-flex logo-header" href="/">
        <img class="minicoders-img-responsive" src="../static/img/minicoders-logo-horizontal.png" style="max-width:142px;max-height:54px">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" onclick="setWrapper(this)">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item mx-sm-5 active">
            <a class="nav-link" href="https://schools.minicoders.com">Parents</a>
          </li>
          <li class="nav-item mx-sm-5">
            <a class="nav-link" href="/plans">Parents Plans</a>
          </li>
          <li class="nav-item mx-sm-5">
            <a class="nav-link" href="mailto:info@minicoders.com">Contact</a>
          </li>
        </ul>
        <div class="my-2 my-lg-0 justify-content-center align-items-center header-right">
          
            <button class="btn btn-light mx-sm-3" type="submit">
              <a href="/login">Log in</a>
            </button>
            <button class="btn btn-light border mx-sm-5 mr-5" type="submit">
              <a href="/register">Start now</a>
            </button>
          
          
        </div>
      </div>
    </div>
  </nav>
  
  <div class="wrapper">
  
    

<div class="container-fluid mt-90 bg-home-main">
    <div class="row justify-content-md-center">
        <div class="offset-md-4 col-md-8 col text-md-start text-center">
            <img class="minicoders-img-responsive" src="../static/img/arrow-down-new.png" style="max-width:40px;max-height:40px"/>
        </div>
        <div class="col-xs-12 col-md-5 ">
            <p class="headlineL content1">Cool Logic Games in Roblox that make kids aged 6-12 grow coding skills</p>
            <p class="bodyL text-center content2 mt-4">Minicoders in an educational platform for kids, including Apps with video tutorials, virtual assistance and private Roblox game experiences where kids learn coding skills while playing.</p>
        </div>
        <div class="text-center mb-200 row justify-content-md-center text-center">
            <div class="col-xs-12 col-md-6 mt-5 text-md-end">
                <a href="#video" class="buttonL content1 content1 surface-light button-middle">Watch video</a>
            </div>
            
            <div class="col-xs-12 col-md-6 mt-5 text-md-start">
                
                    <a href="/register" class="buttonL content1 text-white accent-dark button-middle">Start now</a>
                
                
            </div>
            
        </div>
    </div>
</div>

<div class="container-fluid background-light1 bg-home-aboutus">
    <p class="highlightL content3 pt-90 text-center">&lt;/ About us ></p>
    
    <div class="row justify-content-md-center mt-4">
        <div class="col-xs-12 col-md-6 ">
            <p class="headlineS content1">Discover how minicoders learn coding fundamentals with gamified experiences</p>
        </div>
        <div id="video" class="col-xs-12 col-md-10 col-xl-8 text-center pt-90">
            <video controls width="100%" controls poster="../static/img/thumb_technical_video.jpg">
                <source src="https://minicoders.com/minicoders_technical_video_new_plans.mp4" type="video/mp4">
            </video>
        </div>
    </div>
</div>

<div class="container-fluid background-light1 pt-90">
    <p class="highlightL content3 pt-90 text-center">&lt;/ Manifesto ></p>
    
    <div class="row justify-content-md-center mt-4">
        <div id="video" class="col-xs-12 col-md-10 col-xl-8 text-center pt-90">
            <video controls width="100%" controls poster="../static/img/thumb_manifest_video.jpg">
                <source src="https://minicoders.com/minicoders_video_home_2.mov" type="video/mp4">
            </video>
        </div>
    </div>
</div>

<div class="container-fluid background-light1 pt-90">
    <p class="highlightL content3 pt-90 text-center">&lt;/ Benefits ></p>
    
    <div class="row justify-content-md-center mt-4">
        <div class="col-xs-12 col-md-6 ">
            <p class="headlineS content1">Your kids will use their screen time in a productive and safe way</p>
        </div>
        <div class="col-xs-12 col-md-10 col-xl-8 pt-90 mb-200">
            <div class="row">
                <div class="col-xs-12 col-md-6 mt-5">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <img src="../static/img/frame_1.png" />
                        </div>
                        <div class="col">
                            <p class="highlightL content1 mb-0">The Power of Play as a Learning Vehicle</p>
                            <p class="bodyL content2 mt-2 mb-0">Kids learn to code in a playful way in the social gaming platform they love.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 mt-5">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <img src="../static/img/frame_3.png" />
                        </div>
                        <div class="col">
                            <p class="highlightL content1 mb-0">Inclusive</p>
                            <p class="bodyL content2 mt-2 mb-0">Collaboration enhancing games for Boys, Girls, Everyone.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 mt-5">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <img src="../static/img/frame_2.png" />
                        </div>
                        <div class="col">
                            <p class="highlightL content1 mb-0">Real-Time Progression Tracking</p>
                            <p class="bodyL content2 mt-2 mb-0">Parents can track from this website the progress and concepts learnt by their kids at Roblox</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 mt-5">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <img src="../static/img/frame_5.png" />
                        </div>
                        <div class="col">
                            <p class="highlightL content1 mb-0">ADHD and Dyslexia friendly.</p>
                            <p class="bodyL content2 mt-2 mb-0">Voice over and dictation-based virtual assistant available so nobody is left behind.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 mt-5">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <img src="../static/img/frame_3.png" />
                        </div>
                        <div class="col">
                            <p class="highlightL content1 mb-0">Real-Time Virtual Assistant</p>
                            <p class="bodyL content2 mt-2 mb-0">Virtual Assistant available to help kids when they need.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 mt-5">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <img src="../static/img/frame_6.png" />
                        </div>
                        <div class="col">
                            <p class="highlightL content1 mb-0">Values</p>
                            <p class="bodyL content2 mt-2 mb-0">On top of Play, Social Intelligence and Inclusivity, our experiences are designed to promote Hope.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center col-xs-12 col-md-10 col-xl-8 text-center pt-5 pb-5 bg-home-code">
            <div class="col-xs-12 col-md-8 text-center">
                <p class="headlineXS text-white"><span class="orange40">Get started today </span>and prepare your kids for the challenges of tomorrow. 30 Day Money-Back Satisfaction Guarantee</p>
            </div>
            <p class="headlineXS text-white" style="font-size: 24px;">Discover our quarterly, annual and lifetime plans</p>
            <div class="col-xs-12 pt-4">
                
                    <a href="/register" class="buttonL content1 text-white accent-dark button-middle">Start now</a>
                
                
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" style="margin-top: -130px;">
    <div class="bg-home-testimonial">
        <p class="highlightL content3 pt-90 text-center">&lt;/ Testimonials ></p>
        
        <div class="row justify-content-md-center mt-4">
            <div class="col-xs-12 col-md-6 ">
                <p class="headlineS content1">See how kids love Minicoders!</p>
            </div>
        </div>
        <div class="row justify-content-md-center pt-90">
            <div class="col-xs-12 col-md-10 col-xl-8">
                


<div class="row">
    <div class="col-lg-6 mb-3">
        <div class="card" style="height: 100%;">
            <div class="row g-0">
                <div class="col-4">
                    <img src="../static/img/KraoEsp.png" class="img-fluid rounded-start ps-4 pt-4" alt="...">
                </div>
                <div class="col-12 col-md-8">
                    <div class="card-body">
                        <p class="bodyL content2">I think Minicoders has managed to mix fun with learning very well. We are used to hearing over and over again that games are not good and only instill bad things in players. I have never thought that, even if it is a fighting game, a person is not going to be more or less aggressive for playing a certain game. Anyway, there are other alternatives, and that's where Magic School comes in, a game in which all that time we spend playing, we can also use it to learn, what more could we ask for?</p>
                        <a class="highlightL content1 pt-2 mb-0 text-decoration-underline" href="https://www.youtube.com/watch?v=snPiMpZLZOw&list=PLJsFmMA36hxNbFB07QYN-RLXKNc1fBVmw&index=6">KraoESP, Youtuber with 2.6M followers</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 mb-3">
        <div class="card" style="height: 100%;">
            <div class="row g-0">
                <div class="col-4">
                    <img src="../static/img/patricia-coll.png" class="img-fluid rounded-start ps-4 pt-4" alt="...">
                </div>
                <div class="col-12 col-md-8">
                    <div class="card-body">
                        <p class="bodyL content2">‘I got new powers for my apprentice wizard!' celebrates Biel, 7 years old, after overcoming the challenge of programming the movements of his avatar's virtual pet in the Magic School experience in Roblox. Without being aware of it, just like the more than 30,000 children between 6 and 12 years old who have played Magic School since its launch at the end of the last school year.</p>
                        <a class="highlightL content1 pt-2 mb-0 text-decoration-underline" href="https://elpais.com/tecnologia/2022-09-24/programar-en-el-metaverso-es-un-juego-de-ninos.html">09/24/22 - Patricia Coll (El País newspaper)</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 mb-3">
        <div class="card" style="min-height: 260px;">
            <div class="row g-0">
                <div class="col-4">
                    <img src="../static/img/Lucia.png" class="img-fluid rounded-start ps-4 pt-4" alt="...">
                </div>
                <div class="col-12 col-md-8">
                    <div class="card-body">
                        <p class="bodyL content2">Wow..OMG… magic battles have arrived, this game is the best!</p>
                        <p class="highlightL content1 pt-2 mb-0">Lucia. Minicoders user</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 mb-3">
        <div class="card" style="min-height: 260px;">
            <div class="row g-0">
                <div class="col-4">
                    <img src="../static/img/Sebastian.png" class="img-fluid rounded-start ps-4 pt-4" alt="...">
                </div>
                <div class="col-12 col-md-8">
                    <div class="card-body">
                        <p class="bodyL content2">Back to this great game, I became a fan!</p>
                        <p class="highlightL content1 pt-2 mb-0">Sebastian. Minicoders user</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
            </div>
        </div>
        <div class="row justify-content-md-center pt-90 text-center">
            <div class="col-12">
                <p class="bodyL content3">Get started today! 👇</p>
            </div>
            <div class="col-12 mt-4">
                
                    <a href="/register" class="buttonL content1 text-white accent-dark button-long d-none d-sm-inline">Start now</a>
                    <a href="/register" class="buttonL content1 text-white accent-dark button-middle d-block d-sm-none">Start now</a>
                
                
            </div>
        </div>
    </div>
</div>

<div class="pt-90">
</div>



  </div>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<link rel="stylesheet" type="text/css" href="../static/footer.css">

<footer class="main_footer">
    <div class="row content-footer">
        <div class="col-md-5 col-12 footer-logo">
            <div>
                <img class="minicoders-img-responsive" src="/static/img/minicoders-logo-footer.png" style="max-width:65px;max-height:65px" >
                <p class="text-white">
                    Minicoders in an educational platform for kids, including Apps with video tutorials, virtual assistance and private Roblox game experiences where kids learn coding skills while playing.
                </p>
                <a href="https://www.kidsafeseal.com/certifiedproducts/minicoders.html" target="_blank">
                    <img border="0" width="220" alt="Minicoders Kids (web and mobile) is listed by the kidSAFE Seal Program." 
                    src="https://www.kidsafeseal.com/sealimage/1500213334672566198/minicoders_extralarge_whitetm.png">
                </a>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-6">
            <ul class="footer_list">
                <li class="text-white margin-b-20px"><strong>Features</strong></li>
                <li><a href="/parental">Parents</a></li>
                <li><a href="/plans">Pricing</a></li>
                <li><a href="/register">Start now</a></li>
            </ul>
        </div>
        <div class="col-md-2 col-sm-4 col-6">    
            <ul class="footer_list">
                <li class="text-white margin-b-20px"><strong>Resources</strong></li>
                <li><a href="/faqs">FAQs</a></li>
                <!-- <li><a href="#">Refer a friend</a></li>
                <li><a href="#">Give a gift</a></li>
                <li><a href="#">Reedem a gift</a></li> -->
            </ul>
        </div>
        <div class="col-md-2 col-sm-4 col-6">
            <ul class="footer_list">
                <li><a href="https://onelink.to/cq5dr4"><img class="max-h-70 max-w-187" width="100%" src="/static/img/minicoders-app-google.png" /></a></li>
                <li><a href="https://onelink.to/cq5dr4"><img class="max-h-70 max-w-187" width="100%" src="/static/img/minicoders-app-ios.png" /></a></li>
                <li><a href="https://www.roblox.com/groups/12929013/minicoders21#!/about"><img class="footer-img-logo-centred max-h-70 max-w-187" style="margin-top: 30%;" src="/static/img/minicoders-roblox.png" /></a></li>
                <!-- <li class="text-white margin-b-20px"><strong>Company</strong></li> -->
                <!-- <li>About us</li>
                <li>We are hiring!  </li>
                <li>Blog</li>
                <li>Press</li>
                <li><a href="mailto:info@minicoders.com">Contact us</a></li> -->
            </ul>
        </div>
    </div>
    <div id="icons_styles">
        <a href="https://www.facebook.com/minicoders21" target="_blank" class="fa fa-facebook"></a>
        <a href="https://www.instagram.com/minicoders.21/" target="_blank" class="fa fa-instagram"></a>
        <a href="https://www.linkedin.com/company/minicoders" target="_blank" class="fa fa-linkedin"></a>
    </div>
    <div id="separator-line"></div>
    <div class="d-flex flex-row justify-content-between row">
        <div class="col-md-5 d-flex flex-row flex-wrap text-white" id="footer_copyright">
            <i class="fa fa-copyright" aria-hidden="true"></i>
            <p>minicoders21 S.L. All rights reserved</p>
        </div>
        <div class="col-md-5 text-white">
            <a href="/privacy" style="margin-right: 8%;">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
        <div class="col-md-2 text-white">
            <a class="list-item button" style="list-style: none; cursor:pointer;" data-bs-toggle="collapse" href="#collapseLanguages" role="button" aria-expanded="false" aria-controls="collapseLanguages">
                <i class="fa fa-globe" aria-hidden="true"></i> Change language
            </a>
            <div class="collapse" id="collapseLanguages">
                <ul class="text-white">
                    <li class="list-item button" style="list-style: none; cursor:pointer;" onclick="setCookie('en')"><i class="fa fa-globe" aria-hidden="true"></i> English</li>
                    <li class="list-item button" style="list-style: none; cursor: pointer;" onclick="setCookie('es')"><i class="fa fa-globe" aria-hidden="true"></i> Español</li>
                    <li class="list-item button" style="list-style: none; cursor: pointer;" onclick="setCookie('pt')"><i class="fa fa-globe" aria-hidden="true"></i> Portuguese</li>
                    <li class="list-item button" style="list-style: none; cursor: pointer;" onclick="setCookie('it')"><i class="fa fa-globe" aria-hidden="true"></i> Italiano</li>
                </ul>
            </div>
        </div>
    </div>
    
</footer>
  <script>
    function setWrapper(navbarExpanded) { 
      expanded=navbarExpanded.getAttribute('aria-expanded');
      if(expanded == "true"){
        if (document.getElementById('mainWrapper')){
          document.getElementById('mainWrapper').setAttribute("style", "margin-top:0px");
          
        }
      }
      else{
        if (document.getElementById('mainWrapper')){
          document.getElementById('mainWrapper').setAttribute("style", "margin-top:-74px");
        }
      }
    }
  </script>

  <script>
    document.body.addEventListener('htmx:configRequest',(event) => {
      event.detail.headers['X-CSRFToken'] = 'DGcOXxaXCeDVmk1PX5lt68tbbFV53Oh9Bh5P4ft4aDVC1b46SpGuC5yVmLUCClPn';
    })
  </script>
  <script type="module">
    // Import the functions you need from the SDKs you need
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.8.4/firebase-app.js";
    import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.8.4/firebase-analytics.js";
    // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries
  
    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    const firebaseConfig = {
      apiKey: "AIzaSyC9itB2out6-d5pdVfy38b-G9qnwXZ4Gls",
      authDomain: "minicoders-cbef5.firebaseapp.com",
      projectId: "minicoders-cbef5",
      storageBucket: "minicoders-cbef5.appspot.com",
      messagingSenderId: "178970252379",
      appId: "1:178970252379:web:caa50c6b46b1c71ebe9b7e",
      measurementId: "G-R32YNPP935"
    };
  
    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    const analytics = getAnalytics(app);
  </script>

  	
  <script type="text/javascript"> _linkedin_partner_id = "4124946"; window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || []; window._linkedin_data_partner_ids.push(_linkedin_partner_id); </script>
  <script type="text/javascript"> (function(l) { if (!l){window.lintrk = function(a,b){window.lintrk.q.push([a,b])}; window.lintrk.q=[]} var s = document.getElementsByTagName("script")[0]; var b = document.createElement("script"); b.type = "text/javascript";b.async = true; b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js"; s.parentNode.insertBefore(b, s);})(window.lintrk); </script> 
  <noscript> <img height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=4124946&fmt=gif" /> </noscript>

  <script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js%27);
  fbq('init', '455327475996393');
  fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=455327475996393&ev=PageView&noscript=1"
  /></noscript>

  <!--Master Tag add just before the closing </body> tag--> 
  <script src="https://www.dwin1.com/31728.js" type="text/javascript" defer="defer"></script>  
  <script src="https://www.dwin1.com/33007.js" type="text/javascript" defer="defer"></script>
  <script src="https://www.dwin1.com/35163.js" type="text/javascript" defer="defer"></script>


</body>

</html>