{% load i18n %}
{% load static %}

<div class="row">
    <div class="col-lg-6 mb-3">
        <div class="card" style="height: 100%;">
            <div class="row g-0">
                <div class="col-4">
                    <img src="{% static 'img/KraoEsp.png' %}" class="img-fluid rounded-start ps-4 pt-4" alt="...">
                </div>
                <div class="col-12 col-md-8">
                    <div class="card-body">
                        <p class="bodyL content2">{% translate "I think Minicoders has managed to mix fun with learning very well." %}</p>
                        <a class="highlightL content1 pt-2 mb-0 text-decoration-underline" href="https://www.youtube.com/watch?v=snPiMpZLZOw&list=PLJsFmMA36hxNbFB07QYN-RLXKNc1fBVmw&index=6">{% translate "KraoESP, Youtuber with 2.6M followers" %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 mb-3">
        <div class="card" style="height: 100%;">
            <div class="row g-0">
                <div class="col-4">
                    <img src="{% static 'img/patricia-coll.png' %}" class="img-fluid rounded-start ps-4 pt-4" alt="...">
                </div>
                <div class="col-12 col-md-8">
                    <div class="card-body">
                        <p class="bodyL content2">{% translate "I got new powers for my apprentice wizard!' celebrates Biel, 7 years old, after overcoming the challenge of programming." %}</p>
                        <a class="highlightL content1 pt-2 mb-0 text-decoration-underline" href="https://elpais.com/tecnologia/2022-09-24/programar-en-el-metaverso-es-un-juego-de-ninos.html">{% translate "09/24/22 - Patricia Coll (El País newspaper)" %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 mb-3">
        <div class="card" style="min-height: 260px;">
            <div class="row g-0">
                <div class="col-4">
                    <img src="{% static 'img/Lucia.png' %}" class="img-fluid rounded-start ps-4 pt-4" alt="...">
                </div>
                <div class="col-12 col-md-8">
                    <div class="card-body">
                        <p class="bodyL content2">{% translate "Wow..OMG… magic battles have arrived, this game is the best!" %}</p>
                        <p class="highlightL content1 pt-2 mb-0">{% translate "Lucia. Minicoders user" %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 mb-3">
        <div class="card" style="min-height: 260px;">
            <div class="row g-0">
                <div class="col-4">
                    <img src="{% static 'img/Sebastian.png' %}" class="img-fluid rounded-start ps-4 pt-4" alt="...">
                </div>
                <div class="col-12 col-md-8">
                    <div class="card-body">
                        <p class="bodyL content2">{% translate "Back to this great game, I became a fan!" %}</p>
                        <p class="highlightL content1 pt-2 mb-0">{% translate "Sebastian. Minicoders user" %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>