{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}


<div class="row">
    <div class="col-md-6 col-12 d-none d-md-block login-bg" style="background-image: url({% static '/img/login-bg.png' %});">
    </div>
    <div class="col-md-6 col-12 py-5 row align-content-center background-light1">
        <div class="container col-sm-7 col-11">
            <h1 class="headlineM">
                {% translate 'Recuperación de contraseña' %}
            </h1>
            <form id="post-new-password" method="POST" class="user_form mt-5" action="{% url 'api:user_password_recovery' %}">
                {% csrf_token %}
                <div class="form-input">
                    <input id="recovery_email" type="hidden" name="email" value="{{ email }}">
                    <input id="recovery_token" type="hidden" name="token" value="{{ token }}">
                    <input id="recovery_password" class="bodyL" type="password" name="email" aria-describedby="emailHelp" placeholder="{% translate 'Password' %}">
                    <span class="icon">
                        <img src="{% static '/img/form-password-icon.png' %}">
                    </span>
                </div>
                {% if context.message %}
                   <p class="text-danger text-start">{{context.message}}</p>
                {% endif %}
                <button type="submit" class="btn btn-lg btn-block button-large" id="login_button">{% translate 'Send' %}</button>
            </form>
            <div id="alert-success" class="alert alert-success" role="alert" style="display: none;"> {% translate 'New password success' %}</div>
            <div id="alert-fail" class="alert alert-danger" role="alert" style="display: none;"> </div>
        </div>
    </div>
</div>

{% endblock %}