body {
    font-family: 'Poppins', sans-serif;
    background-color:#EFEFEF;
    color: #333333;
    font-size: 14px;
}

.wrapper {
    max-width: 1110px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.nav {
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 4px 0;
}

.nav > li{
    margin-left: 15px;
    margin-right: 15px;

}

.nav > li > a {
    text-decoration: none;
    color: #333333;
}

.header {
    background-color: #fff;
    padding-top: 10px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 12px 0;
}

.logo {
    color: rgb(226, 135, 70);
    font-size: 36px;
    font-weight: 700;
    display: flex;
    align-items: center;
    letter-spacing: 4px;
}

.logo-image {
    display: block;
    width: 73px;
    height: 80px;
    background-image: url(../image/uniswap-uni-logo.svg);
    margin-right: 20px;
}

.header-info span{
    font-size: 16px;
}

.header-info button {
    font-size: 14px;
    border-radius: 20px;
    border: 2px solid rgb(226, 135, 70);
    background-color: transparent;
    padding: 10px 25px;
    margin-left: 36px;
    transition: 0.2s ease;
}

.header-info button:hover {
    background-color: rgb(226, 135, 70);
}


.header-bottom {
    padding: 20px 0 27px 0;
}

.header-bottom .nav > li {
    margin-left: 20px;
    margin-right: 20px;
}

.header-bottom .nav {
    font-size: 16px;
    margin: 0;
}

hr {
    border: none;
    background-color:#EFEFEF;
    height: 1px;
}

.banner {
    background-image: url(../image/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 159px;
    padding-bottom: 300px;
    color: #fff;
}

.title {
    font-size: 88px;
    font-weight: 900;
    margin-bottom: 42px;
}

.title-h2 {
    font-size: 88px;
    font-weight: 900;
    text-align: center;
    
}

.banner p {
    margin-bottom: 57px;
    max-width: 315px;
    line-height: 1.5;
}

.btn {
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    border: 2px solid #fff;
    background-color: transparent;
    padding: 9px 47px;
    transition: 0.2s ease;
}

.btn:hover {
    background-color: #fff;
    color: #333333;
}

.bg-white {
    background-color: rgb(184, 242, 242);
}

.bg-orange {
    background-color: rgb(193, 237, 247);
    color: rgb(0, 0, 0);
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
}

.bg-orange-item {
    flex: 0 0 60%;
}
.bg-orange-img{
    flex: 0 0 40%;
    text-align: center;
}

.bg-orange .btn {
   display: block; 
   text-align: center;
   max-width: 150px;
}

.bg-orange h3 {
    font-size: 18px;
}


.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0 30px;
}

.grid-item-title {
    grid-column: 1 / 3;
    grid-row: 1/2;
}

.grid-item-img {
    grid-column: 1 / 5;
    grid-row: 1/2;
    text-align: center;
    
}

.grid-item-left {
    grid-column: 1 / 4;
    grid-row: 4/5;
}

.grid-item-right {
    grid-column: 3 / 5;
    grid-row: 3/4;
}

.grid-item-catalog {
    text-align: center;
    padding: 15px;
}

.grid-item-catalog .bg-white{
    background-color: rgb(184, 242, 242);
    padding: 15px 30px;
}



.grid-btn {
    font-size: 14px;
    border-radius: 20px;
    border: 2px solid  rgb(184, 242, 242);
    background-color: rgb(184, 242, 242);
    border-color: transparent;
    padding: 10px 25px;
    text-decoration: none;
    transition: 0.2s ease;
    cursor: pointer;
}