{% load i18n %}
{% load static %}

{% language main_lang %}
    {% get_current_language as LANGUAGE_CODE %}
    <div style="text-align: center;">
        <img style="width: 700px;height: 175px;" src="https://s3.amazonaws.com/public.minicoders.com/minicoders-email.png" alt="">
    </div>
    
    <p>{% translate 'Hello' %} {{ user.name }},</p>

    <p>{% translate 'Someone has requested a password reset for the following account' %}:</p>

    <p>{% translate 'Username' %}: {{ user.email }}</p>

    <p>{% translate 'If this was a mistake, ignore this email and nothing will happen' %}.</p>

    <p>{% translate 'To reset your password, visit the following address' %}:</p>

    <a href="{{ recover_password_url }}">{{ recover_password_url }}</a> 

    <p>*{% translate 'If you didn’t request a password reset, you can ignore this message, no changes will be made' %}. </p>

    <p>{% translate 'For any other questions contact us tough' %} <a href="mailto:client-support@minicoders.com">client-support@minicoders.com</a></p>

    <br>
    <br>
    <div>
        {% translate 'Thank you for being a part of Minicoders' %},
        <br>
        {% translate 'The Minicoders Client Support Team' %}
    </div>
{% endlanguage %}